@import "vars";
@import "global";
@import "fonts";

//start main
#main {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/back.png);
}
.mainWrapper {
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0;
    // z-index: 1;
}
.mainWrapper.mainWrapperTrue {
    z-index: 20;
    opacity: 1;
    transition: all 0.7s ease;
}
//end main
//start header
.header {
    background-color: transparent;
    z-index: 20;
    width: 100%;
}
.headerInner {
    padding: 0 20px;
    text-align: center;
}
.headerLabel {
    font-size: 46px;
    font-weight: 1000;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    line-height: 60px;
}
.headerText {
    font-size: 34px;
    font-weight: 800;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    line-height: 50px;
}
//end header
//start period
.period {
    margin-top: 120px;
    // z-index: 20;
}
.periodMenu,
.boxMenu {
    max-width: 1450px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.periodList,
.boxList {
    display: flex;
    justify-content: space-around;
    // flex-direction: row;
    align-items: center;
    li {
        // display: inline-block;
        // text-align: center;
        margin-right: 10px;
    }
    li + li {
        margin-left: 10px;
    }
    a,
    div {
        text-align: center;
        background-image: url(../images/button.png);
        background-position: center;
        background-size: 95%;
        background-repeat: no-repeat;
        width: 450px;
        height: 180px;
        font-size: 48px;
        line-height: 50px;
        font-weight: 800;
        padding-top: 50px;
        opacity: 1;
        transform: scale(1);
        transition: opacity 0s, visibility 0s;
    }
    a:hover,
    div:hover {
        background-image: url("../images/button-active.png");
        background-position-y: -15px;
        background-position-x: -15px;
        background-position: center;
        background-size: 105%;
    }
}
.periodList a.hiden {
    opacity: 0;
    visibility: hidden;
    transform: scale(20);
    transition: all 1s ease;
    // transition: transform 1s, opacity 1s, visibility 0s 1s;
}
.testSectionImage {
    margin-top: 5px;
}
.imagesInner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        height: 425px;
        width: 320px;
        margin-right: 30px;
    }
    img + img {
        margin-left: 60px;
    }
}
//end period

//periodInfo
//start header
.infoHeaderLabel {
    font-size: 46px;
    font-weight: 1000;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    line-height: 60px;
    padding-top: 40px;
}
//end header
//start period
.periodBox {
    margin-top: 150px;
}
.periodWrapper {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
.periodBoxBackground {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border: 6px solid #fff;
    border-radius: 10px;
}
.boxCross {
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 50px;
    height: 50px;
}
.crossRow {
    width: 100%;
    background-color: #000;
    height: 6px;
    margin-bottom: 4px;
    border-radius: 6px;
    margin-bottom: -6px;
    transform: rotate(45deg);
    & + & {
        transform: rotate(-45deg);
    }
}

.boxMenu {
    max-width: 1100px;
    margin-top: 230px;
    a,
    div {
        width: 320px;
        height: 150px;
        font-size: 36px;
    }
}
// .boxPhoto{
//     display: none;
// }
// .boxList div a {
//     display: none;
// }
.boxOneWrapper{
    display: none;
}
.fancybox__backdrop::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .fancybox__toolbar {
    padding: 16px;
  }
  
  .fancybox__toolbar,
  .fancybox__nav {
    --f-button-border-radius: 50%;
    --f-button-bg: rgb(91 78 76 / 64%);
    --f-button-hover-bg: rgb(91 78 76 / 74%);
    --f-button-active-bg: rgb(91 78 76 / 84%);
  }
  
  .fancybox__nav {
    --f-button-svg-width: 22px;
    --f-button-svg-height: 22px;
  }
  
  .fancybox__thumbs.is-classic {
    --f-thumb-width: 48px;
    --f-thumb-height: 48px;
    --f-thumb-gap: 16px;
  
    --f-thumb-border-radius: 6px;
    --f-thumb-outline: 0;
  }

//end period

//animation

.fadeOutScaled {
    animation-name: scale;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1s;
    animation-play-state: running;
}

@keyframes scale {
    0% {
        transform: scale(1); /*Уменьшение элемента*/
        opacity: 1; /*Уровень прозрачности*/
        // border:5px solid #ccc; /*Граница (задаём толщину и цвет)*/
        // box-shadow:0px 0px 0px  3px #E2E2E2; /*Тень (задаём размах и цвет)*/
    }
    50% {
        transform: scale(5);
        opacity: 0.5;
        // border:10px solid #709EBA;
        // box-shadow:0px 0px 0px  10px #A8C4D5;
    }
    100% {
        transform: scale(10);
        opacity: 0.1;
        // border:5px solid #ccc;
        // box-shadow:0px 0px 0px  3px #E2E2E2;
    }
}
